body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  width: 620px;
  min-height: 700px;
  margin: 20px auto;
  border: 1px solid #007bff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.chat-body {
  background-color: #fff;
  padding: 10px;
  min-height: 650px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
}

.message {
  background-color: #e2e2e2;
  padding: 8px 10px;
  font-size: 25px;
  width: 500px;
  border-radius: 5px;
  display: inline-block;
}

.user-message {
  background-color: #007bff;
  width: 500px;
  color: #fff;
  font-size: 25px;
}

.chat-footer {
  padding: 10px;
  background-color: #f2f2f2;
  height: 70px;
  display: flex;
}

#user-input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  font-size: 25px;
  width: 300px;
  border: 1px solid #ccc;
}

#send-btn {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
}
